body {
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  background-color: blue;
  color: white;
}

.container {
  float: left;
  width: 50%;
  margin-bottom: 20px;
}

.column {
  height: 300px;
  border-color: black;
  border-style: solid;
  background-color: white;
  width: 50%;
  margin: 0 auto;
}

ul {
  padding-left: 5px;
  list-style-type: none;
  color: black;
  font-size: large;
}

li {
  padding-bottom: 10px;
}

button {
  font-size: medium;
  text-align: center;
  border-color: black;
  border-style: solid;
  display: block;
  margin: 0 auto;
  box-shadow: 5px 5px black;
}
